*{
    list-style: none;
}

body{
    background-image: url("https://s1.ax1x.com/2020/08/06/ag0ILn.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    text-shadow: 2px 2px black;
    color: white;
}


#header {
    color: burlywood;
    left: 50px;
    position: absolute;
} 

#provider{
    font-size: 20px;
    color: white;
    text-shadow: none;
    position: absolute;
    bottom: 20px;
    left: 50px;
}


#temperature{
    font-size: 60px;
}

#weatherContainer{
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
    left: 35px;
    top: 80px;
}

#weatherContainer h1{
    margin: 5px;
    font-size: 42px;
}


#searchContainer{
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

#searchContainer input{
    width: 200px;
}

#searchContainer button{
    background-color: white;
    width: 60px;
}
.searchControl{
    box-shadow: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#weeklyWeatherContainer{
    visibility: hidden;
}

#weeklyWeatherList{
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px black;
    position: absolute;
    right: 140px;
    top: 60px;
    width: 700px;
    height: 500px;
}

#weeklyWeatherList .item{
    width:92px;
    text-align:center;
    float:left;
    background-repeat:no-repeat;
    background-position:right;
    text-shadow: none;
    font-size: 16px;
    position:relative;
    padding:11px 0 25px
}

#weeklyWeatherList .item >div >img{
    width: 40px;
    height: 40px;
}

#weeklyWeatherChart{
    position: absolute;
    right: 140px;
    top: 275px;
}


#hourlyWeatherContainer{
    width: 1240px;
    top:600px;
    position: absolute;
    left: 30px;
    visibility: hidden;
}

#hourlyWeatherList{
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px black;
    position: absolute;
}

#hourlyWeatherList .item{
    float:left;
    width:40px;
    margin-right:60px;
    text-align:center;
    text-shadow: none;
    font-size: 16px;
    background-repeat:no-repeat;
    background-position:right;
    position: relative;
}

#hourlyWeatherList .item >img{
    width: 30px;
    height: 30px;
}